Repository hypothesis/h, pull requests merged in 2018-09, with the labels that each got.

#5219 Replace Builder class with elasticsearch_dsl
  h/activity/query.py
  h/search/core.py
  h/search/query.py
  tests/common/fixtures/elasticsearch.py
  tests/h/activity/query_test.py
  tests/h/search/core_test.py
  tests/h/search/query_test.py
Labels: Upgrade Elasticsearch

#5262 Fix RSS stream
  h/search/core.py
  tests/h/search/core_test.py
Labels: Upgrade Elasticsearch

#5270 Add missing CORS headers to API error responses
  h/views/api/config.py
  h/views/api/exceptions.py
  tests/functional/api/test_api.py
Labels: API

#5273 Split json_error exception view into API and non-API request handlers
  h/views/api/exceptions.py
  h/views/exceptions.py
  tests/h/views/exceptions_test.py
Labels: API

#5235 Fix sliding window
  docs/_extra/api-reference/hypothesis.yaml
  h/schemas/annotation.py
  h/search/query.py
  tests/h/schemas/annotation_test.py
  tests/h/search/query_test.py
Labels: Upgrade Elasticsearch

#5265 Fix security documentation for POST api/groups/{id}/members/{user}
  docs/_extra/api-reference/hypothesis.yaml
Labels: API

#5276 Allow "uri.parts" as a query param argument to /api/search
  docs/_extra/api-reference/hypothesis.yaml
  h/schemas/annotation.py
  tests/h/schemas/annotation_test.py
Labels: Upgrade Elasticsearch

#5293 Fix an SQLAlchemy unicode warning
  h/auth/policy.py
Labels: lms
