Repository hypothesis/h, pull requests merged in 2019-01, with the labels that each got.

#5497 Don't report WebSocket close connection errors
  h/sentry.py
  tests/h/sentry_test.py
Labels: Sentry 💥

#5491 Don't report API validation errors to Sentry
  h/schemas/base.py
  h/views/api/errors.py
  tests/h/views/api/errors_test.py
Labels: Sentry 💥

#5505 Add `profile_groups` API endpoint
  docs/_extra/api-reference/hypothesis.yaml
  h/routes.py
  h/views/api/profile.py
  tests/functional/api/test_profile.py
  tests/h/routes_test.py
  tests/h/views/api/profile_test.py
Labels: API

#5512 Filter out ws4py's HandshakeError when there's no HTTP_UPGRADE header
  h/sentry/__init__.py
  h/sentry/helpers/__init__.py
  h/sentry/helpers/before_send.py
  h/sentry/helpers/event.py
  h/sentry/helpers/filters.py
  tests/h/sentry/__init___test.py
  tests/h/sentry/helpers/before_send_test.py
  tests/h/sentry/helpers/event_test.py
  tests/h/sentry/helpers/filters_test.py
Labels: Sentry 💥

#5511 Fix API "links"
  h/views/api/flags.py
  h/views/api/groups.py
  h/views/api/index.py
  h/views/api/moderation.py
  h/views/api/profile.py
  h/views/api/users.py
  tests/h/views/api/index_test.py
Labels: API, project: community groups
